body {
  padding-top: 30px;
}

.ece-bubble {
  color: black;
  position: absolute;
  border: 1px solid #dadada;
  padding: 10px;
  border-radius: 3px;
  background-color: white;
  z-index: 1060;
}

.ece-buttons, .ece-question {
  text-align: center;
}

.ece-confirm, .ece-decline {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

