{{#confirm-extension questionText='Do you really want to destroy the planet?' confirmText='Yes' declineText='No' confirmAction='destroyEarth'}}
  <button>Destroy Earth</button>
{{/confirm-extension}}
